/target
/lib
/charts
/bin
/share

timings.csv
timings_python.csv

accuracies.csv

y_pred.csv
y_test.csv
ylr_pred.csv
ylr_test.csv
matrix_decision_tree_iris.csv
matrix_decision_tree.csv
matrix_logistic_regression_iris.csv
matrix_logistic_regression.csv
matrix.csv
matrix_iris.csv

.DS_Store